@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Muli";
  src: url("../../tipografias/Muli.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("../../tipografias/Raleway-Medium.ttf") format("truetype");
}
/*Variables colores de la identidad*/
/*Criterios generales de toda la página*/
a:link, a:visited, a:active {
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

p {
  color: #1b1e1f;
  font-family: "Muli";
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
}

#HOME .tex-adelante-galeria {
  font-family: "Raleway";
  font-size: 0.5em;
  color: #d0cfcd;
  border: 1px solid #d0cfcd;
  text-align: center;
  padding: 10px;
  z-index: 50;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Muli";
  src: url("../../tipografias/Muli.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("../../tipografias/Raleway-Medium.ttf") format("truetype");
}
/*Variables colores de la identidad*/
/*Criterios generales de toda la página*/
a:link, a:visited, a:active {
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

p {
  color: #1b1e1f;
  font-family: "Muli";
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
}

#HOME .tex-adelante-galeria {
  font-family: "Raleway";
  font-size: 0.5em;
  color: #d0cfcd;
  border: 1px solid #d0cfcd;
  text-align: center;
  padding: 10px;
  z-index: 50;
}

header nav div div ul li a {
  list-style-type: none;
  color: #d0cfcd !important;
  border: 1px solid #d0cfcd;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding: 5px 15px;
}

/*Header*/
header {
  background-color: #141f35;
}
header nav div .hamburguesa {
  background-color: #d0cfcd;
}
header nav div div ul li a:hover {
  background-color: #f7a00e;
  color: #1b1e1f !important;
  border: none;
}
header nav div div ul li .caja-menu {
  background-color: #d0cfcd;
  opacity: 0.9;
  border: none;
  border-radius: none;
}
header nav div div ul li .caja-menu li a {
  color: #1b1e1f !important;
  font-family: "Raleway";
  font-size: 15px;
  text-align: center;
}
header nav div a img {
  width: 220px;
}

/*Fin header*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Muli";
  src: url("../../tipografias/Muli.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("../../tipografias/Raleway-Medium.ttf") format("truetype");
}
/*Variables colores de la identidad*/
/*Criterios generales de toda la página*/
a:link, a:visited, a:active {
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

p {
  color: #1b1e1f;
  font-family: "Muli";
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
}

#HOME .tex-adelante-galeria {
  font-family: "Raleway";
  font-size: 0.5em;
  color: #d0cfcd;
  border: 1px solid #d0cfcd;
  text-align: center;
  padding: 10px;
  z-index: 50;
}

footer div .menucontacto, footer div div div {
  color: #d0cfcd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

/*Footer*/
footer {
  background-color: #141f35;
  padding: 10px 50px 30px 50px;
  margin-top: 20px;
}
footer div p {
  color: #d0cfcd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
footer div div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div div img {
  width: 50px;
  margin: 10px;
}
/*Fin footer*/
.SECCIONES {
  background-color: #f7a00e;
  color: #1b1e1f;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 35px;
  text-align: left;
  padding: 15px 20px 15px 50px;
  margin: 180px 20px 20px 0px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Muli";
  src: url("../../tipografias/Muli.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("../../tipografias/Raleway-Medium.ttf") format("truetype");
}
/*Variables colores de la identidad*/
/*Criterios generales de toda la página*/
a:link, a:visited, a:active {
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

p {
  color: #1b1e1f;
  font-family: "Muli";
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
}

#HOME .tex-adelante-galeria {
  font-family: "Raleway";
  font-size: 0.5em;
  color: #d0cfcd;
  border: 1px solid #d0cfcd;
  text-align: center;
  padding: 10px;
  z-index: 50;
}

section div .p-especial {
  margin: 10px;
  font-size: 18px;
  text-align: justify;
  line-height: 24px;
  color: #004f87;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Muli";
  src: url("../../tipografias/Muli.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("../../tipografias/Raleway-Medium.ttf") format("truetype");
}
/*Variables colores de la identidad*/
/*Criterios generales de toda la página*/
a:link, a:visited, a:active {
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

p {
  color: #1b1e1f;
  font-family: "Muli";
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
}

#HOME .tex-adelante-galeria {
  font-family: "Raleway";
  font-size: 0.5em;
  color: #d0cfcd;
  border: 1px solid #d0cfcd;
  text-align: center;
  padding: 10px;
  z-index: 50;
}

#HOME {
  margin-top: 130px;
  display: flex;
  align-items: center;
}
#HOME div h1 {
  font-weight: 600;
}
#HOME div h1 span {
  font-weight: 300;
}

/*NO APLIQUÉ SASS EN ESTAS SECCIONES*/
/*específico de la sección Servicios*/
.Titulos1 {
  color: #141f35;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  text-align: left;
  margin-top: 15px;
}

.parrafos-servicios {
  text-align: left;
  margin-top: 10px;
}

.sabermas {
  width: 110px;
  background-color: #e5e5e5;
  color: #004f87;
  border: 2px solid #004f87;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 6px 9px;
  display: block;
  margin-top: 20px;
}

.sabermas:hover {
  background-color: #004f87;
  color: #d0cfcd;
}

/*Fin sección Servicios*/
/*específico de la sección Trabajos*/
.Titulos2 {
  color: #1b1e1f;
  background-color: #d0cfcd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: left;
  padding: 10px 20px 10px 20px;
}

.descripciones-trabajo {
  color: #d0cfcd;
  background-color: #141f35;
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

.img-atras {
  position: relative;
  text-align: center;
}

.tex-adelante1 {
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 80%;
  margin: 50px;
  margin-top: 100px;
}

/*Fin sección Trabajos*/
/*específico de la sección sobre mi*/
.nombre {
  color: #1b1e1f;
  background-color: #d0cfcd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  text-align: left;
  padding: 4px 25px;
}

.parrafo-sobremi {
  background-color: #004f87;
  color: #d0cfcd;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  padding: 16px 25px;
  margin-top: 20px;
}

.Titulos1-b {
  color: #141f35;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  text-align: left;
  margin-top: 30px;
}

.parrafos-sobremi2 {
  color: #1b1e1f;
  font-family: "Muli";
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
  margin-top: 8px;
}

/*Fin sección Sobre mi*/

/*# sourceMappingURL=style.css.map */
