@import "bases/bases";
@import "componentes/header";
@import "componentes/footer";
@import "bases/titulos-secciones";
@import "componentes/servicios-html";
@import "componentes/galeria-index";

/*NO APLIQUÉ SASS EN ESTAS SECCIONES*/

/*específico de la sección Servicios*/
.Titulos1 {
    color:#141f35;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: left;
    margin-top: 15px;}
.parrafos-servicios {
    text-align: left;
    margin-top: 10px;}
.sabermas {
    width: 110px;
    background-color: #e5e5e5;
    color: #004f87;
    border: 2px solid #004f87;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 6px 9px;
    display: block;
    margin-top: 20px;}
.sabermas:hover {
    background-color: #004f87;
    color: #d0cfcd;}
/*Fin sección Servicios*/


/*específico de la sección Trabajos*/
.Titulos2 {
    color:#1b1e1f;
    background-color: #d0cfcd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: left;
    padding: 10px 20px 10px 20px;}
.descripciones-trabajo {
    color:#d0cfcd;
    background-color: #141f35;
    font-size: 18px;
    text-align: left;
    padding: 10px;}
.img-atras {
    position: relative;
    text-align: center;}
.tex-adelante1 {
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 80%;
    margin: 50px;
    margin-top: 100px;}
/*Fin sección Trabajos*/


/*específico de la sección sobre mi*/
.nombre { 
    color:#1b1e1f;
    background-color: #d0cfcd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-align: left;
    padding: 4px 25px;}
.parrafo-sobremi {
    background-color: #004f87;
    color: #d0cfcd;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    padding: 16px 25px;
    margin-top: 20px;}
.Titulos1-b {
    color:#141f35;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: left;
    margin-top: 30px;}
.parrafos-sobremi2 {
    color: #1b1e1f;
    font-family: "Muli";
    font-size: 16px;
    text-align: justify;
    line-height: 20px;
    margin-top: 8px;}
/*Fin sección Sobre mi*/