*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}


@font-face {
    font-family: "Muli";
    src: url("../../tipografias/Muli.ttf") format("truetype")}

@font-face {
    font-family: "Raleway";
    src: url("../../tipografias/Raleway-Medium.ttf") format("truetype")}



/*Variables colores de la identidad*/
$azul: #141f35;
$azul-claro: #004f87;
$amarillo: #f7a00e;
$gris: #d0cfcd;
$negro: #1b1e1f;



/*Criterios generales de toda la página*/
a:link, a:visited, a:active {
    text-decoration:none;}

body {
    background-color: #e5e5e5;
    overflow-x: hidden;}

%textos-generales {
    color: $negro;
    font-family: "Muli";
    font-size: 16px;
    text-align: justify;
    line-height: 20px;}
    
    p {
        @extend %textos-generales;
    }

%h1 {
    font-family: "Raleway";
    font-size: 0.5em;
    color: $gris;
    border: 1px solid $gris;
    text-align: center;
    padding: 10px;
    z-index: 50;
}

%titulos-secciones {
    color: $negro;
    font-family: "Raleway";
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    margin-top: 160px;
    margin-bottom: 0px
}

    .SECCIONES {
        @extend %titulos-secciones;
        display: flex;
        align-items: center;
    }

    .rectangulo-amarillo {
        background-color: $amarillo;
        width: 20px;
        height: 60px;
        margin-top: 160px;
    }

%subtitulos {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 30px;
    color: $negro;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: $amarillo;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $amarillo;
    line-height: 40pt;
}