@import "../bases/bases";

.servicios-html {
    div {
        h1 {
            font-size: 38px;
            font-weight: 600;
        }
    }
    section {
        div {
            h2 {
                @extend %subtitulos;
            }
            .p-especial {
                font-weight: 500;
            }
            ul {
                list-style: none;
                li {
                    font-family: "Raleway";
                    color: $azul-claro;
                    font-weight: 600;
                    font-size: 18px;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    border-bottom-color: $amarillo;
                    line-height: 20pt;
                }
            }
        }
    }
}

